@using MvcOnlineTicaret.Models.Siniflar;
@model List<KargoModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kargo</h2>
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{//Ürünler içinde arama 
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>PERSONEL</th>
        <th>TAKİP KODU</th>
        <th>ALICI</th>
        <th>TARİH</th>
        <th>DETAYLAR</th>

    </tr>

    @foreach (var d in Model)
    {
<tr>
    <td>
        @d.Personel

    </td>
    <td>
        @d.TakipKodu

    </td>
    <td>
        @d.Alici

    </td>
    <td>
        @d.Tarih

    </td>


    <td><a href="/Kargo/KargoDetay/@d.TakipKodu" class="btn btn-success">Detaylar</a></td>
</tr>
    }
</table>
<a href="/Kargo/KargoEkle" class="btn btn-primary">Yeni Kargo Girişi</a>
